project:
  type: website
  output-dir: docs

website:
  title: "G. Bisaccia, MD"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - cv.qmd
      - publist.qmd
    right: 
      - icon: github
        href: https://github.com/giandomd
      - icon: twitter
        href: https://x.com/giandomd
      - icon: linkedin
        href: https://linkedin.com/in/bisacciamd

format:
  html:
    theme: journal
    css: styles.css
    toc: true



