project:
  type: website
  output-dir: docs
  resources:
    - CNAME

profile:
  default: english
  group: 
    - [english, italian]

website:
  title: "G. Bisaccia, MD-PhD"
  
  navbar:
    logo: images/profile.jpg
    left:
      - icon: linkedin
        href: https://linkedin.com/in/bisacciamd
      - icon: github
        href: https://github.com/bisacciamd
      - href: index.qmd
        text: Home
      - href: portfolio.qmd
        text: Portfolio
      - href: services.qmd
        text: Services
      - href: contact.qmd
        text: Contact
    right: 
      - icon: file-earmark-text
        text: CV
        href: ./Bisaccia_CV_2025-09-16.pdf
        rel: "download"
      - icon: paperclip
      - icon: file-post
        href: blog.qmd
        text: Blog
        
  #page-footer: "Developed with Quarto by Giandomenico Bisaccia — © 2024-2025" 
  reader-mode: false

format:
  html:
    theme: 
      light: [flatly, styles.css]
    css: styles.css
    toc: true
    toc-location: left
    include-after-body: _footer.html

csl: jacc-cvi.csl
execute: 
  freeze: true