project:
  type: website
  output-dir: docs

website:
  title: "G. Bisaccia, MD"
  
  navbar:
    logo: images/profile.jpg
    left:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Posts
      - href: portfolio.qmd
        text: Portfolio
      - href: pubs.qmd
        text: Publications
      - icon: github
        href: https://github.com/bisacciamd
      - icon: twitter
        href: https://x.com/bisacciamd
      - icon: linkedin
        href: https://linkedin.com/in/bisacciamd
    right: 
      - icon: file-person
        text: CV
        href: cv.qmd
      - icon: mortarboard-fill
  page-footer: "Giandomenico Bisaccia 2024" 
  reader-mode: false
format:
  html:
    theme: 
      light: [litera, styles.scss]
      dark: [superhero, styles.scss]
    css: styles.css
    toc: true
    toc-location: left
#  docx:
#    reference-doc: custom-reference-doc.docx
csl: jacc-cvi.csl


